.tryBtn {
  background-color: hsl(120, 96%, 11%);
  padding: 1rem 2rem;
  color: hsl(0, 0%, 100%) !important;
  font-weight: 600;
  border-radius: 5px;
  white-space: nowrap;
}

.tryBtn:hover {
  background-color: rgb(255, 250, 243);
  color: hsl(0, 0%, 41%) !important;
  border-radius: 5px;
  padding: 0.7rem 1.7rem;
  border: 5px solid hsl(120, 96%, 11%);
}
